{% extends "public/base.html" %}

{% block title %}Gym trainer | About{% endblock %}
 
{% block content %}

<main>
    <!--? Hero Start -->
    <div class="slider-area2">
        <div class="slider-height2 d-flex align-items-center">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="hero-cap hero-cap2 pt-70">
                            <h2>About Me</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Hero End -->
    <!--? About Area-2 Start -->
    <section class="about-area2 fix pb-padding pt-50 pb-80">
        <div class="support-wrapper align-items-center">
                <div class="right-content2 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".2s" >
                <!-- img -->
                <div class="right-img">
                    <img src="{{ url_for('static', filename='assets/img/gallery/about.png') }}" alt="">
                </div>
            </div>
            <div class="left-content2">
                <!-- section tittle -->
                <div class="section-tittle2 mb-20 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".3s">
                    <div class="front-text">
                        <h2 class="">About Me</h2>
                        <p></p>
                        <p>Selamat datang di Lembah Fitness Group, pusat kebugaran pilihan di Kota Pelajar Yogyakarta! Kami hadir dengan misi utama untuk mendukung mahasiswa dan seluruh komunitas dengan akses kebugaran yang berkualitas tinggi namun tetap ramah di kantong.</p>
          <p class="mb-40">Kami memahami dinamika kehidupan kampus dan kebutuhan akan gaya hidup sehat yang terjangkau. Oleh karena itu, Lembah Fitness Group menyediakan beragam program — mulai dari latihan mandiri, personal training eksklusif, hingga kelas-kelas dinamis — semuanya dirancang untuk mendukung perjalanan kebugaran Anda. Nikmati fasilitas modern, lingkungan yang suportif, dan harga yang bersahabat untuk membantu Anda tetap fit dan berenergi selama masa studi. Bergabunglah bersama kami dan wujudkan potensi terbaik Anda!.</p>
                        <a href="{{ url_for('courses') }}" class="border-btn">My Courses</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- About Area End -->
    <!-- ? services-area -->
    <section class="services-area">
  <div class="container">
    <div class="row justify-content-between">
      <div class="col-xl-4 col-lg-4 col-md-6 col-sm-8">
        <div class="single-services mb-40 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".1s">
          <div class="features-icon">
            <img src="{{ url_for('static', filename='assets/img/icon/icon1.svg') }}" alt="" />
          </div>
          <div class="features-caption">
            <h3>Location</h3>
            <p>Jl. Babarsari No.3, Janti, Caturtunggal, Kec. Depok, Kabupaten Sleman, Daerah Istimewa Yogyakarta 55281</p>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-4 col-md-6 col-sm-8">
        <div class="single-services mb-40 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".2s">
          <div class="features-icon">
            <img src="{{ url_for('static', filename='assets/img/icon/icon2.svg') }}" alt="" />
          </div>
          <div class="features-caption">
            <h3>Phone</h3>
            <p>082135362079</p>
            <p>085600520194</p>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-4 col-md-6 col-sm-8">
        <div class="single-services mb-40 wow fadeInUp" data-wow-duration="2s" data-wow-delay=".4s">
          <div class="features-icon">
            <img src="{{ url_for('static', filename='assets/img/icon/icon3.svg') }}" alt="" />
          </div>
          <div class="features-caption">
            <h3>Instagram</h3>
            <a href="https://instagram.com/lembahfitnessgroup" target="_blank">@lembahfitnessgroup</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}