{% extends "public/base.html" %}

{% block title %}Gym trainer | About{% endblock %}
 
{% block content %}

<main>
    <!--? Hero Start -->
    <div class="slider-area2">
        <div class="slider-height2 d-flex align-items-center">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="hero-cap hero-cap2 pt-70">
                            <h2>About Me</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Hero End -->
    <!--? Team -->
    <section class="team-area pt-80">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="single-cat text-center mb-30 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".2s" >
                        <div class="cat-icon">
                            <img src="{{ url_for('static', filename='assets/img/gallery/team1.png') }}" alt="">
                        </div>
                        <div class="cat-cap">
                            <h5><a href="{{ url_for('services') }}">Muscle Gain</a></h5>
                            <p>Bangun massa otot padat dan kekuatan tubuh maksimal dengan program terarah. </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single-cat text-center mb-30 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".4s">
                        <div class="cat-icon">
                            <img src="{{ url_for('static', filename='assets/img/gallery/team2.png') }}" alt="">
                        </div>
                        <div class="cat-cap">
                            <h5><a href="{{ url_for('services') }}">Cutting Program</a></h5>
                            <p>Turunkan lemak tubuh dan definisikan otot Anda melalui diet serta latihan yang tepat.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single-cat text-center mb-30 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".6s">
                        <div class="cat-icon">
                            <img src="{{ url_for('static', filename='assets/img/gallery/team3.png') }}" alt="">
                        </div>
                        <div class="cat-cap">
                            <h5><a href="{{ url_for('services') }}">Bulking Program</a></h5>
                            <p>Tingkatkan ukuran dan kekuatan otot secara signifikan dengan strategi nutrisi dan latihan intensif.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Services End -->
    <!--? About Area-2 Start -->
    <section class="about-area2 fix pb-padding pt-50 pb-80">
        <div class="support-wrapper align-items-center">
                <div class="right-content2 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".2s" >
                <!-- img -->
                <div class="right-img">
                    <img src="{{ url_for('static', filename='assets/img/gallery/about.png') }}" alt="">
                </div>
            </div>
            <div class="left-content2">
                <!-- section tittle -->
                <div class="section-tittle2 mb-20 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".3s">
                    <div class="front-text">
                        <h2 class="">About Me</h2>
                        <p></p>
                        <p>Selamat datang di Lembah Fitness Group, pusat kebugaran pilihan di Kota Pelajar Yogyakarta! Kami hadir dengan misi utama untuk mendukung mahasiswa dan seluruh komunitas dengan akses kebugaran yang berkualitas tinggi namun tetap ramah di kantong.</p>
          <p class="mb-40">Kami memahami dinamika kehidupan kampus dan kebutuhan akan gaya hidup sehat yang terjangkau. Oleh karena itu, Lembah Fitness Group menyediakan beragam program — mulai dari latihan mandiri, personal training eksklusif, hingga kelas-kelas dinamis — semuanya dirancang untuk mendukung perjalanan kebugaran Anda. Nikmati fasilitas modern, lingkungan yang suportif, dan harga yang bersahabat untuk membantu Anda tetap fit dan berenergi selama masa studi. Bergabunglah bersama kami dan wujudkan potensi terbaik Anda!.</p>
                        <a href="{{ url_for('courses') }}" class="border-btn">My Courses</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- About Area End -->
    <!--? Blog Area Start -->
    <section class="home-blog-area pt-10 pb-50">
        <div class="container">
            <!-- Section Tittle -->
            <div class="row justify-content-center">
                <div class="col-lg-7 col-md-9 col-sm-10">
                    <div class="section-tittle text-center mb-100 wow fadeInUp" data-wow-duration="2s" data-wow-delay=".2s">
                        <h2>From Blog</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-6">
                    <div class="home-blog-single mb-30 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".2s">
                        <div class="blog-img-cap">
                                <div class="blog-img">
                                <img src="{{ url_for('static', filename='assets/img/gallery/blog1.png') }}" alt="">
                            </div>
                            <div class="blog-cap">
                                <span>Gym & Fitness</span>
                                <h3><a href="{{ url_for('blog_details') }}">Your Antibiotic One Day To 10 Day Options</a></h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6">
                    <div class="home-blog-single mb-30 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".4s">
                        <div class="blog-img-cap">
                                <div class="blog-img">
                                <img src="{{ url_for('static', filename='assets/img/gallery/blog2.png') }}" alt="">
                            </div>
                            <div class="blog-cap">
                                <span>Gym & Fitness</span>
                                <h3><a href="{{ url_for('blog_details') }}">Your Antibiotic One Day To 10 Day Options</a></h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Blog Area End -->
    <!--? video_start -->
    <div class="video-area section-bg2 d-flex align-items-center"  data-background="assets/img/gallery/video-bg.png">
        <div class="container">
                    <div class="video-wrap position-relative">
                <div class="video-icon" >
                    <a class="popup-video btn-icon" href="https://www.youtube.com/watch?v=up68UAfH0d0"><i class="fas fa-play"></i></a>
                </div>
            </div>
        </div>
    </div>
    <!-- video_end -->
    <!-- ? services-area -->
    <section class="services-area">
  <div class="container">
    <div class="row justify-content-between">
      <div class="col-xl-4 col-lg-4 col-md-6 col-sm-8">
        <div class="single-services mb-40 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".1s">
          <div class="features-icon">
            <img src="{{ url_for('static', filename='assets/img/icon/icon1.svg') }}" alt="" />
          </div>
          <div class="features-caption">
            <h3>Location</h3>
            <p>Jl. Babarsari No.3, Janti, Caturtunggal, Kec. Depok, Kabupaten Sleman, Daerah Istimewa Yogyakarta 55281</p>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-4 col-md-6 col-sm-8">
        <div class="single-services mb-40 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".2s">
          <div class="features-icon">
            <img src="{{ url_for('static', filename='assets/img/icon/icon2.svg') }}" alt="" />
          </div>
          <div class="features-caption">
            <h3>Phone</h3>
            <p>082135362079</p>
            <p>085600520194</p>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-4 col-md-6 col-sm-8">
        <div class="single-services mb-40 wow fadeInUp" data-wow-duration="2s" data-wow-delay=".4s">
          <div class="features-icon">
            <img src="{{ url_for('static', filename='assets/img/icon/icon3.svg') }}" alt="" />
          </div>
          <div class="features-caption">
            <h3>Instagram</h3>
            <a href="https://instagram.com/lembahfitnessgroup" target="_blank">@lembahfitnessgroup</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}